@font-face {
    font-family: "Nexa Bold";
    src: url("NexaBold.otf");
}

@font-face {
    font-family: "Nexa Light";
    src: url("NexaLight.otf");
}

body {
    font-family: "Nexa Light", serif;
    background-image: url("Back1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

*::selection {
    background-color: #2d3436;
    color: #2d3436;
}

#container {
    width: 100%;
    height: 97vh;
    display: flex;
}

#inner-div {
    border-radius: 0 15px 0 15px;
    padding: 1.5%;
    background-color: #2d3436;
    opacity: 80%;
    margin: auto;
    text-align: left;
    color: #dfe6e9;
    display: flex;
}

.title {
    padding-left: 5px;
    font-family: "Nexa Bold", serif;
    font-size: 2em;
    color: #ffeaa7;
    border-bottom: 1px dashed #ffeaa7;
}

.title::selection {
    background-color: #ffeaa7;
    color: #2d3436;
}

.sub-title {
    font-family: "Nexa Bold", serif;
    font-size: 1.1em;
    color: #ffeaa7;
}

.left {
    display: inline-block;
}

.right {
    display: inline-block;
    margin-left: 1.25vw;
}

input {
    margin-bottom: 1vh;
    Outline: none;
    border: none;
}

.button {
    font-family: "Nexa Light", sans-serif;
    font-size: 1.1em;
    background-color: #dfe6e9;
    border-left: 7px solid #b2bec3;
    color: #2d3436;
    padding: 2.75%;
}

.right_border {
    border-right: 0px dashed #636e72;
    /*    after showing information must be 1ps*/
}

input[type=text] {
    font-family: "Nexa Light", sans-serif;
    font-size: 1.1em;
    background-color: #dfe6e9;
    border: none;
    padding: 5px;
    transition: width 0.4s ease-in-out;
    width: 70%;
    border-left: 7px solid #b2bec3;
    margin: 1vh 0 2vh 0;
}

input[type=text]:focus {
    width: 92%;
}

form {
    padding-left: 1vw;
}

#prediction {
    display: none;
}

#saved-answer {
    display: none;
}